.description-wrapper{
    /* background-color: red; */
    min-height: 70vh;
    max-height: max-content;
    display: flex;
    align-items: start;
    gap: 20px;
}

.des-l{
    /* background-color: black; */
    width: 35%;
    height: 100%;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 20px;
    }
}
.des-c{
    width: 40%;
    /* background-color: green; */
    padding: 20px;
    font-family: sans-serif;
    h1{
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    p{
        font-size: 17px;
        line-height: 19px;
        margin-top: 16px;
        opacity: .8;
        color: rgb(71, 71, 71);
    }
}

.des-r{
    width: 20%;
    /* background-color: rosybrown; */
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    button{
        width: 80%;
        padding: 15px 20px;
        border: none;
        border-radius: 30px;
        color: white;
    }
}
.des-wish-btn{
    color: black !important;
    border: 1px solid black !important;
    background-color: white;
}
.des-add-btn{
    background-color: #0111bf;
}
.similar{
    display: flex;
    overflow-x: scroll;
    padding: 3px 30px;
    margin-bottom: 20px;
    height:100px;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    
    img{
        width: 100%;
        height: 80%;
        object-fit: contain;
        mix-blend-mode: multiply;
    }
}
.similar::-webkit-scrollbar{
    display: none;
}
.similar-items{
    min-width: 10vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    cursor: pointer;
}
.similar-heading{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.prodes-btn{
    padding: 10px ;
    width: 120px;
    margin-top: 20px;
    background-color: blue;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 10px;
}
.add-model{
    background-color: #000;
    position: fixed;
    /* top: 100vh; */
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 150px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    font-size: 20px;
    font-family: "khula",sans-serif;
    line-height: 24px;
    /* padding-top:6px; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h3{
        font-weight: 400;
    }

}
.add-model-icon{
    font-size: 34px;
}
.tocart-btn{
    border: none;
    color: white;
    padding: 9px 10px;
    width: 50%;
    border-radius: 35px;
    background-color: red;
   font-size: 15px;
   font-weight:800;
}
@media (max-width:540px){
    .description-wrapper{
        flex-direction: column;
        gap: 0px;
    }
    .des-l{
        width: 100%;
        /* background-color: red; */
        padding: 0;
    
    }
    .prodes-btn{
        display: none;
    }
    .des-c{
        padding: 5px 10px;
        width: 100%;
        h1{
            font-size: 20px;
            margin-top: 0;
            line-height: 24px;
        }
        .price-des{
            font-size: 23px;
            line-height: 20px;
            font-family: "inter",sans-serif;
        }
        p{
            font-size: 14px;
            line-height: 16px;
            margin-top: 0;
            font-weight: 500;
            font-family: "inter",sans-serif;
        }

    }
    .des-r{
        width: 100%;
        button{
            width: 100%;
            padding: 0;
            height: 50px;
            font-size: 23px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    }
    .similar{
        height: 20vh;
        /* background-color: green; */
        width: 100vw;
       justify-content: flex-start;
       padding: 10px;
    }
    .similar-items{
        min-width: 40vw;
        height: 100%;
        
        /* background-color: red; */
        overflow: visible;
    }
}